---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Tag Index";
import fetchApi from "../../lib/strapi";
const tags = await fetchApi({
  endpoint: "tags",
  wrappedByKey: "data",
});
const baseUrl = `${import.meta.env.BASE_URL}`;
// const baseUrl = ``;
---

<style>
  a {
    color: var(--headings-color);
    text-decoration: none;
  }
  .index__tags-heading {
    grid-row: 1;
    grid-column: 2;

    align-self: flex-end;
    margin-bottom: var(--space-l);
    padding-bottom: var(--space-s);
    border-bottom: solid 1px var(--headings-color);
  }
  .index__tags-list {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2;
    align-self: flex-start;
    grid-row: 2;
    justify-content: center;
  }

  .index__tag {
    margin: 0.25em;
    border: dotted 1px var(--headings-color);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #fffcf3;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <section class="tags__index">
    <h2 class="index__tags-heading">Find speakers with specific tag</h2>
    <div class="index__tags-list">
      {
        tags.map((tag) => (
          <p class="index__tag">
            <a href={`${baseUrl}/tags/${tag.attributes.tag}`}>
              {tag.attributes.tag}
            </a>
          </p>
        ))
      }
    </div>
  </section>
</BaseLayout>
